# Byte-compiled / optimized / DLL files
S0/FTT-GMP/gm_NESO_av_electricity_price.csv
S0/FTT-GMP/gm_elec_price_curve.csv
nat_scale/FTT-GMP/gm_NESO_av_electricity_price.csv
nat_scale/FTT-GMP/gm_elec_price_curve.csv