# Byte-compiled / optimized / DLL files
MC*/
nat_scale_MC*/
gas_shock_loc_MC*/
gas_shock_nat_MC*/
S0/FTT-GMP/gm_NESO_av_electricity_price.csv
S0/FTT-GMP/gm_elec_price_curve.csv
nat_scale/FTT-GMP/gm_NESO_av_electricity_price.csv
nat_scale/FTT-GMP/gm_elec_price_curve.csv